/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 28, 2015, 12:42:01 PM
    Author     : Pritesh
*/

i.up {
    content:url(../icons/ic_keyboard_arrow_up_black_36px.svg);
}
i.right {
    content:url(../icons/ic_keyboard_arrow_right_black_36px.svg);
}

body {
    background-color: rgba(0, 0, 0, 0.07);
}
.title {
    display: inline;
    font-size: 3em;
    font-weight: bold;
}

.color-light-bg {
    background-color: #fdfd96;
}

.color-light {
    color: #d3d3d3;
}

.color-dark-bg {
    background-color: #2f4f4f;
}

.color-dark {
    color: #2f4f4f;
}

.color-dark-primary-bg {
    background-color: #303f9f;
}

.color-primary-bg {
    background-color: #3f51b5;
}

.color-light-primary-bg {
    background-color: #c5cae9;
}
.color-accent-bg {
    background-color: #e040fb;
}
.color-dark-primary {
    color: #303f9f;
}

.color-primary {
    color: #3f51b5;
}

.color-light-primary {
    color: #c5cae9;
}
.color-accent {
    color: #e040fb;
}

.hidden{
    display:none;
}