/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 28, 2015, 1:16:15 PM
    Author     : Pritesh
*/


@-webkit-keyframes pulse{
    0%{
        -webkit-transform:scale(0);
        transform:scale(0);
        opacity:0

    }

    50%{
        -webkit-transform:scale(.99);
        transform:scale(.99)

    }

    100%{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:1;
        visibility:visible

    }


}

@keyframes pulse{
    0%{
        -webkit-transform:scale(0);
        transform:scale(0);
        opacity:0

    }

    50%{
        -webkit-transform:scale(.99);
        transform:scale(.99)

    }

    100%{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:1;
        visibility:visible

    }


}
