/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 28, 2015, 12:42:01 PM
    Author     : Pritesh
*/

i.up_black {
    content:url(../icons/keyboard_arrow_up_black.svg);
}
i.right_black {
    content:url(../icons/keyboard_arrow_right_black.svg);
}
i.down_black {
    content:url(../icons/keyboard_arrow_down_black.svg);
}
i.menu_black {
    content:url(../icons/menu_black.svg);
}
i.menu_white {
    content:url(../icons/menu_white.svg);
}
i.send_black {
    content:url(../icons/send_black.svg);
}
i.send_white {
    content:url(../icons/send_white_24px.svg);
}
body {
    background-color: rgba(0, 0, 0, 0.07);
    letter-spacing: 1.5px;
    font-family: Verdana, Geneva, sans-serif;
}
i {
    padding:20%;
}

.hidden{
    display:none;
}


.quote {
    font-weight:  bold;
    letter-spacing: 2px;
    font-style:italic;
    font-family: Tahoma, Geneva, sans-serif;
}

.bottomLogo{
    position:absolute; 
    bottom: 10px; 
    left:50%;
    font-family: "Times New Roman", Times, serif;
    font-size:0.9em;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
    text-align: center;
}