/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 28, 2015, 12:42:01 PM
    Author     : Pritesh
*/

i.up_black {
    content:url(../icons/keyboard_arrow_up_black.svg);
}
i.right_black {
    content:url(../icons/keyboard_arrow_right_black.svg);
}
i.down_black {
    content:url(../icons/keyboard_arrow_down_black.svg);
}
i.menu_black {
    content:url(../icons/menu_black.svg);
}
i.menu_white {
    content:url(../icons/menu_white.svg);
}
i.send_black {
    content:url(../icons/send_black.svg);
}
i.send_white {
    content:url(../icons/send_white_24px.svg);
}
body {
    background-color: rgb(255,172,117);
}
i {
    padding:20%;
}

.hidden{
    display:none;
}

.clickBrain{
	float: right;
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 20;

}

.brain{
	float: middle;
}

.gap{ height:120px;
}


.html{
	  -webkit-animation-duration: 1.2s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;

}

.a{}


.bp1{
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bp1:hover {
  -webkit-filter: grayscale(100%);
}



/*
.title {
    display: inline;
    font-size: 3em;
    font-weight: bold;
}

.color-light-bg {
    background-color: #fdfd96;
}

.color-light {
    color: #d3d3d3;
}

.color-dark-bg {
    background-color: #2f4f4f;
}

.color-dark {
    color: #2f4f4f;
}

.color-dark-primary-bg {
    background-color: #303f9f;
}

.color-primary-bg {
    background-color: #3f51b5;
}

.color-light-primary-bg {
    background-color: #c5cae9;
}
.color-accent-bg {
    background-color: #e040fb;
}
.color-dark-primary {
    color: #303f9f;
}

.color-primary {
    color: #3f51b5;
}

.color-light-primary {
    color: #c5cae9;
}
.color-accent {
    color: #e040fb;
}
*/