/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 28, 2015, 12:42:01 PM
    Author     : Pritesh
*/

i.menu_black {
    content:url(../icons/menu_black.svg);
}
i.menu_white {
    content:url(../icons/menu_white.svg);
}
i.send_white {
    content:url(../icons/send_white_24px.svg);
}

i.down_white {
    content:url(../icons/keyboard_arrow_down_white.svg);
}
i.up_white {
    content:url(../icons/keyboard_arrow_up_white.svg);
}
i.help_white {
    content:url(../icons/help_white.svg);
}
body {
    background-color: rgba(0, 0, 0, 0.07);
    letter-spacing: 1.5px;
    font-family: Verdana, Geneva, sans-serif;
}
i {
    padding:20%;
}

.hidden{
    display:none;
}


.quote {
    font-weight:  bold;
    letter-spacing: 2px;
    font-style:italic;
    font-family: Tahoma, Geneva, sans-serif;
}

a.button-collapse {
    top:10px;
    left:20px;
    position: absolute;
    z-index: 99;
}



a.disabled  {
    cursor: not-allowed;
}