/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 28, 2015, 12:42:01 PM
    Author     : Pritesh
*/

i.up_black {
    content:url(../icons/keyboard_arrow_up_black.svg);
}
i.right_black {
    content:url(../icons/keyboard_arrow_right_black.svg);
}
i.down_black {
    content:url(../icons/keyboard_arrow_down_black.svg);
}
i.menu_black {
    content:url(../icons/menu_black.svg);
}
i.menu_white {
    content:url(../icons/menu_white.svg);
}
i.send_black {
    content:url(../icons/send_black.svg);
}
i.send_white {
    content:url(../icons/send_white_24px.svg);
}
body {
    background-color: rgba(0, 0, 0, 0.07);
    letter-spacing: 1.5px;
    font-family: Verdana, Geneva, sans-serif;
}
i {
    padding:20%;
}

.hidden{
    display:none;
}


.quote {
    font-weight:  bold;
    letter-spacing: 2px;
    font-style:italic;
    font-family: Tahoma, Geneva, sans-serif;
}

/*
.title {
    display: inline;
    font-size: 3em;
    font-weight: bold;
}

.color-light-bg {
    background-color: #fdfd96;
}

.color-light {
    color: #d3d3d3;
}

.color-dark-bg {
    background-color: #2f4f4f;
}

.color-dark {
    color: #2f4f4f;
}

.color-dark-primary-bg {
    background-color: #303f9f;
}

.color-primary-bg {
    background-color: #3f51b5;
}

.color-light-primary-bg {
    background-color: #c5cae9;
}
.color-accent-bg {
    background-color: #e040fb;
}
.color-dark-primary {
    color: #303f9f;
}

.color-primary {
    color: #3f51b5;
}

.color-light-primary {
    color: #c5cae9;
}
.color-accent {
    color: #e040fb;
}
*/